// @color: #;

// width
$extra-small: 768px;
$small: 992px;
$medium: 1200px;
$large: 1400px;;

// color

$mainColor: #fff;
$secondaryColor: #f1f1f1;
$mainTxtColor: #333333;
$mainHeaderColor: #513021;
$footerColor: #0C0C0C;
//$mainGradient: linear-gradient(60deg, rgb(220, 255, 252), rgb(255, 235, 218), rgb(255, 215, 252));
$mainGradient: linear-gradient(45deg,#fff1eb,#edc9ff);

//company colors

//$almandin
$amiant: #ffffff;
$avrora: #e6cfe9;
//$bismark
$gavana: #97a5a7;
$kastor: #6e6266;
$kongo: #fbeaab;
$marengo: #babcbc;
$milory: #cbe3f4;
$ofit: #bb9c98;
$orlean: #fb732d;
$vide: #a0d3e6;
//$palev
$prunel: #3a3a3a;

// btn

$buttonMain: #84c900;

// for hover


// border


// background image



// font size


// elements 



