.cards {
  display: flex;
  flex-wrap: wrap;

  font-family: "Sansation";

  font-weight: 300;

  letter-spacing: 0.2rem;
  text-transform: uppercase;

  @include extra-small {
    justify-content: space-between;
  }
}