.owl-nav {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 100%;
  top: 50%;

  opacity: 0.8;

  transform: translateY(-50%);
}

.owl-stage-outer {
  z-index: 30;
}

.owl-carousel .owl-stage-outer {
  display: flex;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}


.owl-prev, .owl-next  {
  position: relative;

  width: 60px;
  height: 60px;

  background-image: url("../img/icons/arrow-list.svg")!important;
  background-size: 60px!important;
  background-repeat: no-repeat!important;


  outline: none;
  transition: opacity 0.1s ease-in-out;
}

.owl-prev {
  right: 60px;
  transform: rotate(180deg);
}
.owl-next {
  left: 60px;
}
.owl-carousel button.owl-dot {
  outline: none;
}


.owl-dots {
  display: flex;
  justify-content: center;

  margin-top: 1rem;
}

.owl-dots .owl-dot span {
  display: inline-block;

  background-color: #c3c3c3;

  width: 8px;
  height: 8px;

  margin-right: 5px;
  border-radius: 50%;
}

.owl-dots .owl-dot.active span {
  background-color: #3e3e3e;

}

@include medium {
  .owl-prev, .owl-next {
    position: relative;

    width: 60px;
    height: 60px;

    background-image: url("../img/icons/arrow-list.svg")!important;
    background-size: 60px!important;
    background-repeat: no-repeat!important;


    opacity: 0.5;
    outline: none;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 1;
      transition: 0.2s ease-in-out;
    }
  }
  .owl-prev {
    right: 70px;
  }
  .owl-next {
    left: 70px;
  }
}