.section-title {
  position: relative;

  margin: 0 0 30px 0;

  font-weight: 300;
  font-size: 16px;

  text-transform: uppercase;
  text-align: center;

  &:after {
    content: "";

    position: absolute;
    top: 25px;
    left: 50%;
     transform: translateX(-50%);

    width: 50px;
    height: 1px;

    background-color: #e25a1c;
  }

  @include small {
    font-size: 25px;

    &:after {
      top: 36px;
    }
  }
}