.section-cards {
  position: relative;

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #f1f1f1;

  &__container {
    display: flex;
    position: relative;

    z-index: 1000;
  }

  @include extra-small {
    &:after {
      opacity: 0.9;
    }
  }
}